@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
    &:before,&:after{
        -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
    }
}

body{
    font-family: "Microsoft YaHei","Arial","Helvetica Neue","Hiragino Sans GB","Simsun,sans-self";
    font-size: 0.28rem;
    word-break:break-all;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.1;
}
table,
td{
    border-collapse: collapse;
    border: none;
}

a,input,textarea,select{
    font-family: "Microsoft YaHei";
    outline: none;
}

textarea{
    resize: none;
}

img,button{
    border: none;
}

button{
    font-family: "Microsoft YaHei";
    cursor: pointer;
}

li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,small{
    font-size: 100%;
}

a:link,
a:visited,
a:focus{
    text-decoration: none;
}
*:focus { outline: none!important;}

/*字体*/
.YaHei{
    font-family: "Microsoft YaHei";
}


// 公用start
.jkFlex{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.jkFlexItem{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}
.oneLine{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tl{
    text-align: left;
}

.tag-parent{
    // display: grid;
    // grid-template-columns:repeat(4,1fr);
    // grid-gap:0.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: -0.15rem !important;
}
.jk-tag-4{
    flex: 25%;
    max-width: 25%;
    display: inline-block;
}
.jk-ca-tag{
    margin: 0 0 0.15rem 0.15rem;
    height: 0.58rem;
    line-height: 0.58rem;
    border-radius: 0.05rem;
    background: rgb(248,248,248);
    color: rgb(30, 30, 30);
    font-size: 0.28rem;
    min-width: 1.28rem;
    text-align: center;
    padding: 0 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.tag-hover{
    background: rgba(94,144,243,0.5);
    color: rgb(44,106,219);
}

.overEllipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.jkClear{
    clear: both;
}
// 公用end


/*首页  start*/
.jk-wap{
    padding: 0 0.15rem 1.15rem 0.15rem;
    height: 100%;
    //吸顶条
    .fixed-top {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
    .jk-search{
        margin: 0.1rem 0 0 0;
        width: 100%;
        height: 0.9rem;
        border:none;
        .jk-search-address{
            height: 100%;
            line-height: 0.9rem;
            flex-direction: column;
            font-size: 0.28rem;
            padding: 0 0.35rem 0 0.3rem;
            position: relative;
            background: rgb(248, 248,248);
            border-top-left-radius: 0.45rem;
            border-bottom-left-radius: 0.45rem; 
            color: rgb(51,51,51);
            font-size: 0.28rem;
            &:after{
                content: "";
                position:absolute;
                height: 0.28rem;
                width: 1px;
                border-right: 1px solid rgb(219,219,219);
                right: 0;
                top: 50%;
                margin-top: -0.14rem;
            }
            color: rgb(51,51,51)；
            
        }
        .jk-search-text{
            flex-direction: column;
            background: rgb(248, 248,248);
            height: 100%;
            text-align: left;
            border: none;
            border-top-right-radius: 0.45rem;
            border-bottom-right-radius: 0.45rem;
            padding-left: 0.3rem;
            color: rgb(200,200,200);
            font-size: 0.28rem;
        }
    }
    
    // menu
    .jk-menu{
        z-index: 9999;
        border-bottom:2px solid rgb(214,214,214);
        .jk-menu-item{
            padding: 0.38rem 0 0.4rem 0;
            img{
                width: 0.98rem;
            }
            p{
                font-size: 0.24rem;
                margin-top:0.05rem;
                color: rgb(0,0,0);
            }
        }
    }


    // 内容
    .jk-cont{
        .jk-banner{
            background: #999999;
            height: 1.5rem;
            text-align: center;
            margin: 0.3rem 0;
            img{
                height: 1.5rem;
            }
        }
        .jk-cont-item{
            padding: 0.3rem 0;
            border-bottom: 0.03rem solid rgb(229,229,229);
            position: relative;
            .houseLink{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 22;
            }
            .jk-cont-item-media{
                img{
                    width: 2.4rem;
                }
            }
            .jk-cont-item-main{
                text-align: left;
                padding-left: 0.22rem;
                .jk-cont-item-tit{
                    font-size: 0.28rem;
                    color: rgb(0,0,0);
                    height: 0.5rem;
                    line-height: 0.5rem;
                }
                .jk-cont-item-price{
                    font-size: 0.28rem;
                    color: rgb(228,80,0);
                    height: 0.5rem;
                    line-height: 0.5rem;
                }
                .jk-cont-item-desc{
                    font-size: 0.22rem;
                    color: rgb(136,136,136);
                    height: 0.4rem;
                    line-height: 0.4rem;
                }
                .jk-cont-item-tag{
                    font-size: 0.18rem;
                    color: rgb(136,136,136);
                    height: 0.4rem;
                    line-height: 0.4rem;
                }
            }
        }
    }

    // 底部导航
    .jk-nav{
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 1.15rem;
        background: rgb(255, 255, 255);
        z-index: 101;
        .jk-nav-item{
            position: relative;
            .nav-link{
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
            }
            .jk-nav-item-icon{
                height: 0.75rem;
            }
            p{
                font-size: 0.24rem;
                color: rgb(153, 153, 153);
            }
            .nav-icon01{
                background: url(../images/icon-index.png) no-repeat center;
                background-size: 0.48rem 0.42rem;
            }
            .nav-icon02{
                background: url(../images/icon-publish.png) no-repeat center;
                background-size: 0.49rem 0.37rem;
            }
            .nav-icon03{
                background: url(../images/icon-mine.png) no-repeat center;
                background-size: 0.36rem 0.43rem;
            }
        }
        .nav-hover{
            .nav-icon01{
                background: url(../images/icon-index-hover.png) no-repeat center;
                background-size: 0.48rem 0.42rem;
            }
            .nav-icon02{
                background: url(../images/icon-publish-hover.png) no-repeat center;
                background-size: 0.49rem 0.37rem;
            }
            .nav-icon03{
                background: url(../images/icon-mine-hover.png) no-repeat center;
                background-size: 0.36rem 0.43rem;
            }
            p{
                color: rgb(44,106,220);
            }
        }
    }
}
/*首页  end*/


/*切换城市  start*/
.jk-wap{
    .jk-ca-search{
        width: 100%;
        height: 0.9rem;
        margin: 0.2rem 0 0.64rem 0;
        input{
            width: 100%;
            height: 100%;
            border-radius: 0.45rem;
            background: rgb(248, 248,248);
            padding: 0 0.3rem;
            border:none;
        }
    }
    .jk-ca-tit{
        font-size: 0.26rem;
        color: rgb(30, 30, 30);
        margin: 0 0 0.2rem 0;
    }
    .jk-ca-position{
        margin: 0 0 0.54rem 0;
    }
    .jk-ca-hot{
        padding-right: 0.3rem;
        margin-bottom: 0.95rem;
        .jk-ca-hot-con{
            flex-wrap: wrap;
        }
    }

    .jk-str{
        font-size: 0.26rem;
        color: rgb(136,136,136);
    }
    .jk-str-con{
        margin: 0 0 0.16rem 0;
        ul{
            li{
                height: 1.1rem;
                line-height: 1.1rem;
                font-size: 0.28rem;
                color: rgb(30, 30, 30);
                border-bottom: 1px solid rgb(244,244,244)
            }
        }
    }

    //右侧字母list
    .jk-str-list{
        position: fixed;
        top: 1.4rem;
        height: 100%;
        right: 0;
        width: 0.4rem;
        text-align: center;
        ul{
            width: 0.4rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            li{
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
                text-align: center;
                color: rgb(153, 153, 153);
                font-size: 0.18rem;
                margin: 0.02rem 0;
                .str-index{
                    display: inline-block;
                    height: 0.4rem;
                    line-height: 0.4rem;
                    width: 0.4rem;
                    background: rgb(242,242,242);
                    border-radius: 50%;
                }
                a{
                    color: rgb(153, 153, 153);
                    font-size: 0.18rem;
                    font-family: ArialMt;
                }
            }
        }
    }
    
}
/*切换城市  end*/


/*搜索  start */
.jk-wap{
    .jk-searchbox{
        margin: 0.2rem 0 0.3rem 0;
        position: relative;
        input{
            width: 100%;
            height: 0.85rem;
            border: 1px solid rgb(241,241,241);
            border-radius: 0.45rem;
            box-shadow: 0px 0px 0.05rem 0.05rem rgba(241,241,241,0.2);
            color: rgb(30, 30, 30);
            font-weight: bold;
            font-size: 0.3rem;
            padding: 0 0.7rem 0 0.3rem;
        }
        .jk-search-clear{
            position: absolute;
            right: 0.3rem;
            top: 50%;
            width: 0.3rem;
            height: 0.3rem;
            margin-top: -0.15rem;
            background: pink;
            display: inline-block;
            background: url(../images/icon-clear.png) no-repeat;
            background-size: 0.3rem;
        }
    }

    // 搜索历史
    .jk-searchList{
        ul{
            li{
                height: 0.95rem;
                line-height: 0.95rem;
                border-bottom: 1px solid rgb(219,219,219);
                .jk-search-tit{
                    text-align: left;
                    font-size: 0.28rem;
                    color: rgb(30, 30, 30);
                }
                .gray{
                    color: rgb(153, 153, 153);
                }
                .jk-search-desc{
                    font-size: 0.26rem;
                    color: rgb(153, 153, 153);
                }
            }
        }
    }
}
/*搜索  end */

/*筛选弹层 start*/
// 筛选nav
.jk-screen{
    /*滚过初始位置时自动吸顶*/
    position: -webkit-sticky;
    position: sticky;
    /*吸顶时的定位*/
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    z-index: 100;
    /*z比下方所有z高*/
    .jk-screen-menu{
        border-bottom:2px solid rgb(214,214,214);
        height: 0.9rem;
        .jk-screen-menu-item {
            text-align: left;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            &:last-child{
                -webkit-box-flex: none;
                -webkit-flex: none;
                flex: none;
            }
            p.jkScreenNav{
                line-height: 0.9rem;
                font-size: 0.24rem;
                color: rgb(51,51,51);
                height: 100%;
                display: flex;
                justify-content: left;
                display: inline-block;
                img{
                    width: 0.2rem;
                    height: 0.22rem;
                    margin: 0.34rem 0.25rem 0 0;
                }
                span{
                    line-height: 0.9rem;
                    height: 100%;
                    display: inline-block;
                }
                .screen-menu-width{
                    display: inline-block;
                    max-width: 5em;
                    min-width: 3em;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 0.2rem;
                        height: 98%;
                        background: url(../images/icon-down.png) rgb(255, 255, 255) no-repeat center;
                        background-size: 0.1rem 0.07rem;
                    }
                }
            }
            .sort-icon{
                background: url(../images/icon-sort.png) no-repeat center;
                background-size: 0.2rem 0.22rem;
                width: 0.62rem;
                padding: 0 0.2remm;
                height: 100%;
                display: inline-block;
            }
        }
        .screen-menu-hover{
            p.jkScreenNav{
                color: rgb(44,106,219);  
                .screen-menu-width{
                    &::before{
                        background: url(../images/icon-down-blue.png) rgb(255, 255, 255) no-repeat center;
                        background-size: 0.1rem 0.07rem;
                    }
                }
            }
            .sort-icon{
                background: url(../images/icon-sort-hover.png) no-repeat center;
                background-size: 0.2rem 0.22rem;
                width: 0.62rem;
                padding: 0 0.2remm;
                height: 100%;
                display: inline-block;
            }
        }
    }
}

.jkScreen{
    position: fixed;
    height: 100%;
    width: 100%;
    background:rgb(255, 255, 255);
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    padding: 0 0.15rem 0 0.15rem;
    .jkScreenItem{
        display: none;
        height: 100%;
        form{
            height: 100%;
        }

        // 户型、筛选
        .jkscreenHouseType,.jkscreenScreen{
            
            .jk-screenScreen-tit,
            .jk-houseType-tit{
                font-size: 0.28rem;
                color: rgb(102,102,102);
                text-align: center;
                margin: 0.8rem 0 0.4rem 0;
            }
            
            .jk-screenScreen-con,
            .jk-houseType-con{
                .jk-ca-tag{
                    color: rgb(102,102,102);
                }
                .tag-hover{
                    color: rgb(44,106,219);
                }
            }
            
        }
        
    }
    .jk-screen-form{
        height: 100%;
    }
    .jk-screen-box{
        height: 100%;
        padding: 0 0 1.45rem 0;
        .jk-screen-cont{
            height: 100%;
            .jk-screen-ui{
                li{
                    font-size: 0.28rem;
                    color: rgb(102,102,102);
                    padding: 0.32rem 0;
                    &.shover{
                        color: rgb(44,106,219);
                    }
                }
            }
        }
        .screenBg{
            background: rgb(250,250,250);
        }
        .screenBg1{
            background: rgb(247,247,247);
        }
    }
    .jk-screen-btn{
        width: 100%;
        height: 1.45rem;
        background: rgb(255, 255, 255);
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0 0.15rem;
        .blue-btn{
            margin: 0.25rem 0;
            width: 100%;
            height: 0.95rem;
            line-height: 0.96rem;
            color: rgb(255, 255, 255);
            font-size: 0.28rem;
            border-radius: 0.1rem;
            background: rgb(44,106,219);
        }
    }
}
/*筛选弹层 end*/


/*房源信息  start*/
.jk-house-banner{
    margin: 0 auto;
    img{
        width: 100%;
        max-height: 5.62rem;
    }
}
.jk-house{
    padding: 0 0.36rem;
    .jk-house-name{
        font-size: 0.46rem;
        color: rgb(51,51,51);
        margin: 0.6rem 0 0 0;
    }
    .jk-house-price{
        font-size: 0.46rem;
        color: rgb(228,46,0);
        margin: 0.43rem 0 0;
    }
    .jk-house-tagbox{
        margin: 0.25rem 0 0 0;
        .jk-ca-tag{
            background: rgb(255, 255, 255);
            border: 2px solid rgb(246,246,246);
            font-size: 0.22rem;
            color: rgb(119,119,119);
        }
    }
    .jk-house-desc{
        margin: 0.85rem 0 0 0;
        border-bottom: 1px solid rgb(223,223,223);
        padding-bottom: 0.4rem;
        .jkFlexItem{
            font-size: 0.26rem;
            color: rgb(51,51,51);
            position: relative;
            &:before{
                content: "|";
                position: absolute;
                right: 0;
                top: 0;
                font-size: 0.26px;
                color: rgb(223,223,223);
            }
            &:last-child{
                &::before{
                    display: none;
                }
            }
        }
    }
    .jk-house-desc1{
        padding: 0.5rem 0;
        .houseinfo{
            clear: both;
            .houseinfoitem{
                width: 50%;
                float: left;
                span{
                    display: inline-block;
                    float: left;
                }
                .desclabel{
                    color: rgb(153, 153, 153);
                    width: 2em;
                    margin: 0 0.2rem 0 0;
                    overflow: hidden;
                    font-size: 0.26rem;
                    line-height: 0.52rem;
                }
                .desccon{
                    font-size: 0.26rem;
                    line-height: 0.52rem;
                    color: rgb(51,51,51);
                }
            }
        }
    }
    
    .jk-house-tit{
        clear: both;
        font-size: 0.4rem;
        color: rgb(51,51,51);
    }

    .jk-house-configTag{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 0.5rem 0 0.2rem 0;
        .jk-house-config-tag-item{
            flex: 16.66%;
            max-width: 16.66%;
            .jk-house-conimg{
                max-height: 0.5rem;
                text-align: center;
                height: 0.5rem;
                img{
                    max-width: 0.5rem;
                    max-height: 0.5rem;
                }
            }
            .jk-house-conTit{
                padding: 0.26rem 0 0.4rem 0;
                font-size: 0.22rem;
                color: rgb(51,51,51);
                text-align: center;
            }
        }
    }

    .jk-house-map{
        height: 2.16rem;
        margin: 0.5rem 0 0.3rem 0;
        img{
            max-height: 2.16rem;
        }
    }

    .jk-house-mapgood{
        ul{
            li{
                font-size: 0.2rem;
                color: rgb(51,51,51);
                padding: 0 0 0.15rem 0.25rem;
                position: relative;
                &:before{
                    content: '';
                    height: 3px;
                    width: 3px;
                    background: rgb(51,51,51);
                    border-radius: 50%;
                    position: absolute;
                    left: 0.12rem;
                    top: 0.12rem;
                }
            }
        }
    }
}
/*房源信息  end*/

